@use "../../styles/placeholders";

.wrapperStyling {
  .wrapperTitle {
    @extend %headerFont;
    color: #1f1f1f;
  }

  &.productGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
