@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");

%margin-reset {
  margin: 0;
}

%padding-reset {
  padding: 0;
}

%headerFont {
  font-family: "Playwrite AU SA";
  text-align: center;
  color: $header-text-color;
}

%primaryButton {
  color: $header-text-color;
  background: $button-background;
  padding: 0.8rem 1rem;
  border-radius: 8px;
}
